<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <form novalidate #fo='ngForm' (ngSubmit)="mySubmit(fo)">
        <legend>Add Employee</legend>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" id="firstname" [(ngModel)]="employee.firstName" #employeefirstName="ngModel" required minlength="4">
          <div class="alert alert-danger" *ngIf="employeefirstName.error?.required && employeefirstName.touched">First Name is Required</div>
          <div class="alert alert-danger" *ngIf="employeefirstName.error?.minlength && employeefirstName.touched">First Name at least 4 chars</div>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" id="lastname" [(ngModel)]="employee.lastName" #employeelastName="ngModel" required minlength="4">
          <div class="alert alert-danger" *ngIf="employeelastName.error?.required && employeelastName.touched">Last Name is Required</div>
          <div class="alert alert-danger" *ngIf="employeelastName.error?.minlength && employeelastName.touched">Last Name at least 4 chars</div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="employee.email" #employeeemail="ngModel" required minlength="4">
          <div class="alert alert-danger" *ngIf="employeeemail.error?.required && employeeemail.touched">Email is Required</div>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" id="country" [(ngModel)]="employee.country" #employeecountry="ngModel" required>
          <div class="alert alert-danger" *ngIf="employeecountry.error?.required && employeecountry.touched">Country is Required</div>
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" [(ngModel)]="employee.city" #employeecity="ngModel" required>
          <div class="alert alert-danger" *ngIf="employeecity.error?.required && employeecity.touched">City is Required</div>
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" [(ngModel)]="employee.phone" #employeephone="ngModel" required minlength="12">
          <div class="alert alert-danger" *ngIf="employeephone.error?.required && employeephone.touched">Phone is Required</div>
          <div class="alert alert-danger" *ngIf="employeephone.error?.minlength && employeephone.touched">Phone at least 12 chars</div>
        </div>
        <div class="form-group">
          <label for="salary">Salary</label>
          <input type="text" class="form-control" id="salary" [(ngModel)]="employee.salary" #employeesalary="ngModel" required minlength="12">
          <div class="alert alert-danger" *ngIf="employeesalary.error?.required && employeesalary.touched">Salary is Required</div>
          <div class="alert alert-danger" *ngIf="employeesalary.error?.minlength && employeesalary.touched">Salary at least 12 chars</div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form><br><br>
    </div>
    <div class="col-sm-6">
      <a href="" class="btn btn-success" routerLink="/">Back to Dashboard</a>
    </div>
  </div>
</div>
