<div class="row">
<div class="card border-dark mb-3" style="max-width: 18rem;" *ngFor="let employee of employees">
  <div class="card-header">Header</div>
  <div class="card-body text-dark">
    <p class="card-text"><b>First Name:</b> {{ employee.firstName }} </p>
    <p class="card-text"><b>Last Name:</b> {{ employee.lastName }} </p>
    <p class="card-text"><b>Email:</b> {{ employee.email }} </p>
    <p class="card-text"><b>Address:</b> {{ employee.country }} , {{ employee.city }} </p>
    <p class="card-text"><b>Phone:</b> {{ employee.phone }} </p>
    <p class="card-text"><b>Salary:</b> {{ employee.salary }} </p>
    <p class="card-text"><b>ID:</b> {{ employee.$key }} </p>
  </div>
</div>
</div>
