<div class="container">
  <div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Login</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Please fill the form to login</h5>
      <div class="card-text">
          <form (submit)="mySubmit()">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required [(ngModel)]="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" required [(ngModel)]="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>
  </div>
</div>
